html, body {
    height: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
}
.main-cont {
    margin-top: 50px;
}
.section-margin {
    margin-top: 50px;
}
.footer {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: aliceblue;
}
.loader-container {
    margin-left: 0px;
    margin-right: 0px;
    position: fixed;
    z-index: 100000000000000000;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.385);
}
.hide {
    display: none;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(159, 201, 255);
  border-bottom: 16px solid rgb(159, 201, 255);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
