<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div
            class="row justify-content-md-center align-items-center loader-container hide"
            id="loderContainer"
        >
            <div class="loader"></div>
        </div>

        <div class="modal fade row align-items-center" id="infoModal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Processing complete</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p id="ProcessInfo"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                    </div>
                  </div>
                </div>
              </div>

        <nav class="navbar navbar-light bg-faded">
            <a
                class="navbar-brand"
                href="#"
            >
                <img
                    src="/img/jelly.png"
                    width="30"
                    height="30"
                    class="d-inline-block align-top"
                    alt
                >
                Jellyfish Keen Eye
            </a>
        </nav>

        <div class="container main-cont">
            <div class="card">
                <div class="card-block">
                    <form id="dataForm">
                        <h4 class="card-title">Jira Credentials</h4>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Jira desk base url</label>
                            <input
                                class="form-control"
                                type="url"
                                placeholder="Enter Jira base url or leave empty for a default value (https://jellyfishtech.atlassian.net)"
                                name="base_url"
                            >
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input
                                type="email"
                                class="form-control"
                                placeholder="Enter email or leave empty for a default value (rlatyshenko.dev@gmail.com)"
                                name="email"
                            >
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Token</label>
                            <input
                                type="password"
                                class="form-control"
                                placeholder="Enter token or leave empty for a default value"
                                name="api_token"
                            >
                        </div>
                        <h4 class="card-title section-margin">Google spreadsheet sharing</h4>
                        <div class="form-group">
                            <label for="exampleTextarea">
                                Google emails to share (comma separated)
                            </label>
                            <textarea
                                class="form-control"
                                rows="3"
                                name="emails-to-share"
                                required
                            ></textarea>
                            <small class="form-text text-muted">
                                Example:
                                <i>
                                    john.doe@google.com, jane.doe@google.com
                                </i>
                            </small>
                        </div>
                        <h4 class="card-title section-margin">Profile to collect data</h4>
                        <div class="form-group">
                            <label for="exampleTextarea">Enter profile ID:</label>
                            <input
                                class="form-control"
                                type="text"
                                placeholder="Enter profile id"
                                name="profile_email"
                                required
                            >
                        </div>
                        <div class="form-group row justify-content-md-center section-margin">
                            <input
                                class="btn btn-success"
                                type="submit"
                                value="Collect work logs"
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <footer
        class="row justify-content-md-center align-items-center footer"
        id="footer"
>
        <p>All rights reserved, Jellyfish</p>
    </footer>

    <script>
        var dataForm = $("#dataForm");

        $( document ).ajaxStart(function() {
            $("#loderContainer").removeClass("hide");
        });

        function send(formData) {
            $.ajaxSetup();
            var url = "{{ call_url }}";
            $.post(url, formData)
                .done(function(res) {
                    $("#loderContainer").addClass("hide");
                    $("#ProcessInfo").html('Link to workbook:<br><a target="blank" href="' + res + '">' + res + '</a>');
                    $("#infoModal").modal("show");
                })
                .fail(function(err) {
                    $("#ProcessInfo").html(err.responseText);
                    $("#infoModal").modal("show");
                    $("#loderContainer").addClass("hide");
                });
        };

        dataForm.submit(function(event) {
            event.preventDefault();
            var data = $(this).serializeArray();
            console.log(data)
            preparedData = []
            for (var i = 0; i < data.length; i++){
                if (data[i].value != ""){
                    preparedData.push(data[i])
                }
            }
            send(preparedData);
        });
    </script>
</html>
