[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
isort = "*"
flake8 = "*"
gunicorn = "*"

[packages]
orator = "*"
dpath = "*"
typeguard = "*"
Werkzeug = "*"
Jinja2 = "*"
Cerberus = "*"
pyOpenSSL = "*"
pipe-framework = {editable = true,path = "."}
rich = "*"
gunicorn = "*"
psycopg2-binary = "*"
frozendict = "*"

[requires]
python_version = "3.8"
